.navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .navigation-options {
    background: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    transition: transform .5s;
    color: black;
    text-decoration: none;

    &:hover {
      background: lightgrey;
      transform: scale(1.1);
    }
  }
}
