.movie-container {
  display: flex;
  flex-direction: row;
  padding: 30px 0 10px 20px;
  position: relative;
}

.title-container {
  padding-bottom: 35px;
  font-size: 25px;
  font-family: monospace;
  color: midnightblue;
  margin-left: 15px;
}

.year-container, .rated-container, .release-date-container, .runtime-container, .director-container, .genre-container {
  color: #6d0948;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.show-content {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

i {
  position: absolute;
  right: 210px;
  cursor: pointer;
}


.selectable {
  width: 40px;
  height: 40px;
  position: relative;
  top: -5px;
}

.movie-content {
  display: flex;
  flex-direction: row;

  .content {
    display: flex;
    flex-direction: column;
  }
}

.actresses-container {
  margin-top: 40px;
  position: absolute;
  left: 650px;
  padding-right: 20px;

  .hide {
    display: none;
  }

  .actress {
    display: flex;
    flex-direction: row;
    margin: 15px 10px 0 15px;
    white-space: pre;
  }
}

