.movie-container {
  display: flex;
  flex-direction: row;
  padding: 30px 0 10px 20px;
}

.title-container {
  padding-bottom: 35px;
  font-size: 25px;
  font-family: monospace;
  color: midnightblue;
  margin-left: 15px;
}

.year-container, .rated-container, .release-date-container, .runtime-container, .director-container, .genre-container {
  color: #6d0948;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.content {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

i {
  position: absolute;
  right: 210px;
  cursor: pointer;
}


.selectable {
  width: 40px;
  height: 40px;
  position: relative;
  top: -5px;
}

