.content-container {
  position: relative;

  .content {
    border-bottom: 1px solid grey;
  }

  .detail-button {
    position: absolute;
    right: 5%;
    top: 45px;

    @media (max-width: 1070px) {
      position: absolute;
      top: 260px;
    }
  }
}

button {
  position: relative;
  left: 20px;
}
