/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./lib/_fonts.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*p {*/
/*  font-family: 'Creepy' !important;*/
/*}*/
