* {
  box-sizing: border-box;
}

.full-screen-video-container {
  position: relative;
  width: auto;
  height: 100vh;
  overflow: hidden;

}

.full-screen-video-container video {
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
